<%= form_for(@hospedarium) do |f| %>
  <% if @hospedarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospedarium.errors.count, "error") %> prohibited this hospedarium from being saved:</h2>

      <ul>
      <% @hospedarium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, :class=>"span3" %>
  </div>
  <div class="field">
    <%= f.label :tipo %>
    <%= f.select :tipo, ["","Casa","Instituição","República","Outro"] %>
  </div>
  <div class="field">
    <%= f.label :descrição %>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :quantidade_de_vagas %>
    <%= f.number_field :qtd_vagas, :class=>"span1" %>
  </div>
  <div class="field">
    <%= f.label :preferência %>
    <%= f.select :preferencia, ["","Mulheres","Homens","Ambos"] %>
  </div>
  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco, :class=>"span4" %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
