<h1>Listing hospedaria</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Qtd vagas</th>
    <th>Preferencia</th>
    <th>Endereco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hospedaria.each do |hospedarium| %>
  <tr>
    <td><%= hospedarium.nome %></td>
    <td><%= hospedarium.tipo %></td>
    <td><%= hospedarium.qtd_vagas %></td>
    <td><%= hospedarium.preferencia %></td>
    <td><%= hospedarium.endereco %></td>
    <td><%= link_to 'Show', hospedarium %></td>
    <td><%= link_to 'Edit', edit_hospedarium_path(hospedarium) %></td>
    <td><%= link_to 'Destroy', hospedarium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hospedarium', new_hospedarium_path %>
