<%= form_for(@participante) do |f| %>
  <% if @participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participante.errors.count, "error") %> prohibited this participante from being saved:</h2>

      <ul>
      <% @participante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, :class=>"span4"%>
  </div>
  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone, :class=>"span2" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class=>"span3" %>
  </div>
  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf, :class=>"span2" %>
  </div>
  <div class="field">
    <%= f.label :rg %>
    <%= f.text_field :rg, :class=>"span2" %>
  </div>
  <div class="field">
    <%= f.label :endereço %>
    <%= f.text_field :endereco, :class=>"span4" %>
  </div>
  <div class="field">
    <%= f.label :profissão %>
    <%= f.text_field :profissao, :class=>"span3" %>
  </div>
  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade, :class=>"span3" %>
  </div>
  <div class="field">
    <%= f.label :estado %>
    <%= f.select :estado, ["--","Espírito Santo","Minas Gerais","Rio de Janeiro","São Paulo"] %>
  </div>
  <hr/>
  <div class="field">
    <%= f.label "Como você conheceu o evento?" %>
    <%= f.select :como_conheceu, ["--","Amigos", "Internet", "Instituição/Universidade", "Jornais/Revistas", "Televisão", "Outro"] %>
  </div>
  <div class="field">
    <%= f.label "Já participou de um evento desse tipo?" %>
    <%= f.select :ja_participou, ["--","Sim","Não"] %>
  </div>
  <div class="field">
    <%= f.label "Participa de qual instituição/universidade?" %>
    <%= f.text_field :universidade, :class=>"span4" %>
  </div>
  <div class="field">
    <%= f.label "Qual é o seu curso?" %>
    <%= f.text_field :curso, :class=>"span4" %>
  </div>
  <p>Caso deseje participar da <a href="/hospedaria">hospedagem solidária</a> preencha esse campo abaixo.</p>
  <div class="field">
    <%= f.label "Hospedagem solidária, escolha o lugar:" %>
    <%= f.select :hospedarium_id, @hospedaria %>
  </div>
   
  <%= f.hidden_field :inscricao %>

  <div class="actions">
    <%= f.submit "Salvar"%>
  </div>
<% end %>
