<h3>Escolha aqui o lugar onde desejas ficar alojado:</h3>
<br/>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Lugar</th>
    <th>Tipo</th>
    <th>Descri&ccedil;&atilde;o</th>
    <th>Qtd vagas</th>
    <th>Preferencia</th>
    <th>Endereco</th>
    <th></th>
  </tr>

<% hospedaria.each do |hospedarium| %>
  <tr>
    <td><%= hospedarium.nome %></td>
    <td><%= hospedarium.tipo %></td>
    <td><%= hospedarium.descricao %></td>
    <td><%= hospedarium.qtd_vagas %></td>
    <td><%= hospedarium.preferencia %></td>
    <td><%= hospedarium.endereco %></td>
    <td><%= link_to 'Selecionar', '/participantes/' + participante.id.to_s + '/select/' + hospedarium.id.to_s %></td>
  </tr>
<% end %>
</table>

<br />
