<h1>Lista de participantes EREDS Sudeste 2012</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Inscricao</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Cpf</th>
    <th>Rg</th>
    <th>Sexo</th>
    <th>Profissão</>
    <th>Endereco</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Como conheceu</th>
    <th>Ja participou</th>
    <th>Universidade</th>
    <th>Curso</th>
  </tr>

<% @participantes.each do |participante| %>
  <tr>
    <td><%= "%05d" % participante.id %></td>
    <td><%= participante.nome %></td>
    <td><%= participante.telefone %></td>
    <td><%= participante.email %></td>
    <td><%= participante.cpf %></td>
    <td><%= participante.rg %></td>
    <td><%= participante.sexo %></td>
    <td><%= participante.profissao %></td>
    <td><%= participante.endereco %></td>
    <td><%= participante.cidade %></td>
    <td><%= participante.estado %></td>
    <td><%= participante.como_conheceu %></td>
    <td><%= participante.ja_participou %></td>
    <td><%= participante.universidade %></td>
    <td><%= participante.curso %></td>
  </tr>
<% end %>
</table>

<br />
