<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @participante.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @participante.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @participante.email %>
</p>

<p>
  <b>Cpf:</b>
  <%= @participante.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%= @participante.rg %>
</p>

<p>
  <b>Endereco:</b>
  <%= @participante.endereco %>
</p>

<p>
  <b>Cidade:</b>
  <%= @participante.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @participante.estado %>
</p>

<p>
  <b>Como conheceu:</b>
  <%= @participante.como_conheceu %>
</p>

<p>
  <b>Tempo interesse tema:</b>
  <%= @participante.tempo_interesse_tema %>
</p>

<p>
  <b>Ja participou:</b>
  <%= @participante.ja_participou %>
</p>

<p>
  <b>Universidade:</b>
  <%= @participante.universidade %>
</p>

<p>
  <b>Curso:</b>
  <%= @participante.curso %>
</p>

<p>
  <b>Inscricao:</b>
  <%= @participante.inscricao %>
</p>


<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
