<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ereds Sudeste</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home">EREDS Sudeste</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#"><b>In&iacute;cio</b></a></li>
	      <li><a href="#">A logo</a></li>
      	      <li><a href="#">Os Bastidores</a></li> 
	      <li><a href="#">Eventos Culturais</a></li>
            </ul>
            <p class="navbar-text pull-right">Logado como <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li class="active"><a href="/participantes">Inscri&ccedil;&otilde;es</a></li>
              <li><a href="/encontro">O Encontro</a></li>
              <li><a href="/programacao">Programa&ccedil;&atilde;o</a></li>
              <li><a href="/noticias">Not&iacute;cias</a></li>
	      <li><a href="/troca_de_experiencias">Troca de Experi&ecirc;ncias</a></li>
              <li><a href="/outros_ereds">Outros EREDS</a></li>
	      <li><a href="/eneds">ENEDS: A origem</a></li>
              <li><a href="/lugares/regiao">A Regi&atilde;o</a></li>
	      <li><a href="/lugares">Onde ficar?</a></li>
              <!--<li><a href="#"><b>Contatos</b></a></li>-->
              <li><%= link_to 'Contatos', 'contatos', :method=> :post,:remote=>true, :update => "corpo" %> </li>

            </ul>
          </div><!--/.well -->
	  
	  <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><b>Redes Sociais</b></li>
              <a href="https://www.twitter.com" target="_blank"><%= image_tag "twitter.png", :width=>"20", :alt=>"Twitter" %></a>
	      <a href="https://www.facebook.com/pages/Ereds-Sudeste/283506018387268" target="_blank"><%=image_tag "facebook.png", :width=>"20", :alt=>"Facebook"%></a>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

	<div id="corpo" class="span9">
           <%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; EREDS Sudeste 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>


  </body>
</html>
