<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ereds Sudeste 2012</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><%= image_tag "eredsSudeste.png", :width=>"25", :alt=>"EREDS Sudeste" %></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/"><b>In&iacute;cio</b></a></li>
	      <!--<li><a href="/home/logo">A logo</a></li>
      	      <li><a href="/home/bastidores">Os Bastidores</a></li> -->
	      <!-- <li><a href="/home/culturais">Eventos Culturais</a></li> -->
            </ul>
            <!-- <p class="navbar-text pull-right">Logado como <a href="#">username</a></p> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><%= link_to 'Inscrições', '/participantes/new'  %></li>
              <li><%= link_to 'O Encontro', '/home/encontro' %></li>
              <li><%= link_to 'Programação', '/home/programacao' %></li>
	      <li><%= link_to 'Troca de Experiências', '/home/troca_de_experiencias' %></li>
              <li><%= link_to 'Outros EREDS', '/home/outros_ereds' %></li>
	      <li><%= link_to 'ENEDS: A origem', '/home/eneds' %></li>
	      <li><%= link_to 'Onde ficar?', '/hospedaria' %></li>
              <li><%= link_to 'Contatos', '/home/contatos' %></li>
            </ul>
          </div><!--/.well -->
	  
	  <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><b>Redes Sociais</b></li>
              <a href="https://twitter.com/#!/2eredssudeste" target="_blank"><%= image_tag "twitter.png", :width=>"20", :alt=>"Twitter" %></a>
	      <a href="https://www.facebook.com/pages/Ereds-Sudeste/283506018387268" target="_blank"><%=image_tag "facebook.png", :width=>"20", :alt=>"Facebook"%></a>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

	<div id="corpo" class="span9">
           <%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; EREDS Sudeste 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
